* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* this file contains the structural and media query dependent css - cosmetic styling that is specific to elements (background color font) is contained the the relevant component css files */

main {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  background-color: black;
  min-height: 100dvh;
}

.main-image-container {
  display: grid;
  grid-template-rows: 10% 75% 25%;
  grid-template-columns: 10% 30% 50% 10%;
  max-height: 100dvh;
}

.main-image-container-full {
  display: grid;
  grid-template-rows: 10% 75% 25%;
  grid-template-columns: 10% 30% 50% 10%;
  height: 100dvh;
}

.img-large {
  grid-area: 1/1 / span 3 / span 4;
  justify-self: center;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.title-container {
  grid-area: 2/1 / span 1 / span 2;
  z-index: 1;
}

.thumb-toggle,
.thumb-toggle-flipped {
  grid-area: 3/1 / span 1 / span 1;
  justify-self: center;
  align-self: baseline;
  font-size: 1rem;
  z-index: 2;
}

.thumb-toggle {
  transform: rotate(180deg);
}

.thumb-toggle-flipped {
  transform: none;
}

.thumbnail-container {
  grid-area: 3/2 / span 1 / span 2;
  display: flex;
  max-width: 100%;
  max-height: 80px;
  overflow-y: hidden;
  z-index: 2;
}

.thumb-image {
  max-width: 200px;
  max-height: 100%;
}

@media (min-width: 800px) {
  .main-image-container {
    grid-template-rows: 5% 15% 70%;
    grid-template-columns: 20% 17% 26% 17% 20%;
  }

  .img-large {
    grid-area: 1/1 / span 3 / span 5;
  }

  .title-container {
    grid-area: 3/1 / span 1 / span 1;
  }

  .thumb-toggle,
  .thumb-toggle-flipped {
    grid-area: 2/1 / span 1 / span 1;
    font-size: 1.4rem;
    align-self: baseline;
  }

  .thumb-toggle {
    transform: none;
  }

  .thumb-toggle-flipped {
    transform: rotate(180deg);
  }

  .thumbnail-container {
    grid-area: 2/3 / span 1 / span 1;
    max-height: 100px;
    anchor-name: --thumbs;
  }
  .thumbnail-container::scroll-button(*) {
    border: 0;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0);
    opacity: 0.6;
    color: white;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    position-anchor: --thumbs;
    align-self: anchor-center;
  }
  .thumbnail-container::scroll-button(left) {
    content: "<";

    right: calc(anchor(left) + 20px);
  }

  .thumbnail-container::scroll-button(right) {
    content: ">";
    right: calc(anchor(right) - 55px);
  }
}

@media (hover: hover) {
  .thumb-image:hover {
    opacity: 0.5;
  }
}
