.wait {
  width: 100%;
  grid-column: 2 / span 3;
  grid-row-start: 3;
  justify-items: center;
}

.ticker {
  display: inline-block;
  margin-left: 10px;
  animation-name: progress;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes progress {
  to {
    transform: rotate(360deg);
  }
}
